body {
  background-color: #0b0c1c;
  color: #f4f4f4;
  font-family: 'Garamond', serif;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cambiado de height a min-height */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 90%;
  padding: 40px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f4f4f4;
}

.frase-oraculo {
  text-align: center;
  font-style: italic;
  color: #ccc;
  font-size: 1rem;
  margin: 20px auto;
  max-width: 90%;
  line-height: 1.6;
  letter-spacing: 0.3px;
}


img {
  width: 100%;
  border: 2px solid #ffffff22;
  border-radius: 12px;
  box-shadow: 0 0 30px #ffffff22;
  margin-bottom: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;

}

img.flip {
  transform: rotateY(180deg);
  opacity: 0;
}

button {
  background-color: #1c1c2c;
  color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #29293f;
}

.botonera {
  display: flex;           /* <-- ESTO es lo que falta */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;         /* Para que no se desborden en pantallas pequeñas */
}

.mensaje {
  font-size: 1.1rem;
  margin-top: -10px;
  color: #e0dada;
  font-style: italic;
  max-width: 90%;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
  font-size: 0.9rem;
  font-style: italic;
  border-top: 1px solid #222;
  margin-top: 50px;
}

/* Botón flotante de WhatsApp */
.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  font-size: 28px;
  padding: 16px 18px;
  border-radius: 50%;
  box-shadow: 0 0 15px #25D36688;
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.btn-whatsapp:hover {
  transform: scale(1.1);
  background-color: #1ebe5d;
}

.btn-whatsapp i {
  display: block;
}


@media (max-width: 600px) {
  img {
    max-width: 70%;
  }
    .botonera button {
    flex: 1 1 45%; /* Se adaptan al ancho disponible */
    max-width: 150px;
  }

}

@media (min-width: 601px) {
  img {
    max-width: 300px;
  }

}

